.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color: white
}

.dialogsItems .dialog {
    /* схуяли оно не работает блять? */
    text-decoration: none;
}

.dialogsItems .active {
    color: gold;
}


.messages {
    padding: 10px;
}

.messages .dialog {
    padding: auto;
}

.messages .message {
    color: white;
}
